{% extends 'admintemplates/adminbase.html' %}

{% block title %}{{teacher.full_name}} detail{% endblock %}

{% block content %}
<h3>{{teacher.full_name}}</h3>

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    
                    <th>SN</th>
                    <th>Title</th>
                    <th>ClassRoom</th>
                    <th>Given on</th>
                    <th>Deadline</th>
                    <th>Given_to</th>
                    <th>Update</th>
                </tr>   
            </thead>                
            <tbody>
                {% for assignment in teacher.assignment_set.all %}
                    <tr>
						<td>{{forloop.counter}}</td>
						<td><a href="">{{assignment.title}}</a></td>
                        <td>{{assignment.class_room}}</td> 
                        <td>{{assignment.created_at}}</td> 
						<td>{{assignment.deadline}}</td>
						<td><a href="">{{assignment.student}}</a></td>
						<td>
							<a class="btn btn-primary" href="{% url 'amapp:teacherassignmnetupdate' assignment.id %}"><span class="fa fa-pencil"></span></a>
							<a class="btn btn-primary" href="{% url 'amapp:teacherassignmentdelete' assignment.id %}"><span class="fa fa-trash"></span></a>
						</td>
                                        
                                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}